## Set the computations

In [1]:
# Import modules 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
from plotnine import *
%matplotlib inline

In [2]:
# Set visuales 
coloors = ['#739354', '#875590', '#7dd3ec','#f5c9d0' , '#7dd3ec']

In [3]:
# read major final demand sectors 
sectors = pd.read_excel('../Data/Meta.xlsx', sheet_name = 'Data').drop('Eora_classification', axis =1)
sec_map = {1: 'Primary industry', 21 : 'Light manufacturing',23 : 'Heavey manufacturing', 3 : 'Tertiary industry' }
sectors['Industry_category'] = sectors['Industry_category'].map(sec_map)
sectors.head(3)

  Sector Industry_category
0   Food  Primary industry
1   Food  Primary industry
2  Goods  Primary industry

## 1. CES data

In [137]:
# Set general path 
ces_path = '../Data/CES/'
# Read the CES data 
y = pd.read_csv(ces_path + 'urban.ces.csv', index_col = 'City')
info = pd.read_csv('../infos.csv')
y = pd.merge(info, y, left_on = 'Eora_country', right_on = 'Country iso3').drop('Eora_country', axis = 1)
y.rename(columns = {'Country iso3': 'iso'}, inplace = True)
y.head(3)

,country,Year,Category,iso,0,1,2,3,4,5,...,16,17,18,19,20,21,22,23,24,25
0,Algeria,2011,UMIC,DZA,0.0,0.0,0.0,721.627741,147.509079,25.370904,...,0.0,0.000000,103.313939,103.313939,0.0,0.0,153.144011,0.0,123.104751,0.0
1,Tunisia,2010,LMIC,TUN,0.0,0.0,0.0,656.001118,185.133436,48.204555,...,0.0,74.751991,198.407154,122.956546,0.0,0.0,270.364678,0.0,9.082018,0.0
2,Morocco,2014,LMIC,MAR,0.0,0.0,0.0,862.619048,85.476190,0.000000,...,0.0,0.000000,191.666667,64.761905,0.0,0.0,409.285714,0.0,269.404762,0.0

## 2. Compute the TIV ($F$)

For this anlysis we're using [Eora26](https://worldmrio.com/eora26/) (v199.82)

In [5]:
# Read modules 
import numpy as np
import pandas as pd
import os
import re

We need to compute the the Total Intensity Vector $(F)$ for these countries: *['CIV', 'MDV', 'MEX', 'DZA', 'LKA', 'CHN', 'BGD', 'ALB', 'ZWE','EGY', 'ZAF', 'MAR', 'NAM', 'BWA', 'VNM', 'ZMB', 'MNE', 'ASM', 'CRI', 'GEO', 'TUN']*

To compute the the TIF, we need to preform the following operations: 
- compute the Xout 
- compute the direct intensity vector (f) 
- comput technical coefficient matrix
- compute Wassily Leontief inverse 
- compute the Total intesnity verctor

In [6]:
# set paths 
bp_path = '../Data/Eora/Eora_BP/'

# Read the index 
index = [file for file in os.listdir(bp_path)]
index

containers = {}
for i in index:
    path = [file for file in os.listdir(bp_path + i) if any(map(str.isdigit, file))]
    print(f' \n i == {i} \n')
    container = {}
    containers[i] = container
    for m in path:
        print(f'm == {m}')
        read = pd.read_csv(bp_path + i + '/' + m, delimiter = '\t', header = None)
        container[m.split('_')[-1].split('.')[0]] = read

 i == Eora26_2009_bp

m == Eora26_2009_bp_FD.txt
m == Eora26_2009_bp_Q.txt
m == Eora26_2009_bp_QY.txt
m == Eora26_2009_bp_T.txt
m == Eora26_2009_bp_VA.txt

 i == Eora26_2010_bp

m == Eora26_2010_bp_FD.txt
m == Eora26_2010_bp_Q.txt
m == Eora26_2010_bp_QY.txt
m == Eora26_2010_bp_T.txt
m == Eora26_2010_bp_VA.txt

 i == Eora26_2011_bp

m == Eora26_2011_bp_FD.txt
m == Eora26_2011_bp_Q.txt
m == Eora26_2011_bp_QY.txt
m == Eora26_2011_bp_T.txt
m == Eora26_2011_bp_VA.txt

 i == Eora26_2012_bp

m == Eora26_2012_bp_FD.txt
m == Eora26_2012_bp_Q.txt
m == Eora26_2012_bp_QY.txt
m == Eora26_2012_bp_T.txt
m == Eora26_2012_bp_VA.txt

 i == Eora26_2013_bp

m == Eora26_2013_bp_FD.txt
m == Eora26_2013_bp_Q.txt
m == Eora26_2013_bp_QY.txt
m == Eora26_2013_bp_T.txt
m == Eora26_2013_bp_VA.txt

 i == Eora26_2014_bp

m == Eora26_2014_bp_FD.txt
m == Eora26_2014_bp_Q.txt
m == Eora26_2014_bp_QY.txt
m == Eora26_2014_bp_T.txt
m == Eora26_2014_bp_VA.txt

 i == Eora26_2015_bp

m == Eora26_2015_bp_FD.txt
m == Eora26_2015_bp_Q.txt
m == Eora26_2015_bp_QY.txt
m == Eora26_2015_bp_T.txt
m == Eora26_2015_bp_VA.txt

In [7]:
# get the xout for the basic prices and purchaser prices 

BP = {}
print('BB values')
# set the computation code 
for i in containers.keys():
    # print('---')
    # print(i)
    # print('---')
    for m in containers.get(i):
        """ interate over the dic and return the xout for each years"""
        np.seterr(divide='ignore', invalid='ignore')
        xout = np.empty((4915,1))
        np.add(np.add.reduce(np.array(containers.get(i).get('T')), axis =1)[:, np.newaxis], np.add.reduce(np.array(containers.get(i).get('FD')), axis =1)[:, np.newaxis], out = xout)
        BP[i.split('_')[1]] = xout

BB values

In [13]:
### read the tables in PP 

# set paths 
pp_path = '../Data/Eora/Eora_PP/'

# Read the index 
dex = [file for file in os.listdir(pp_path)]

conts = {}
for i in dex:
    path = [file for file in os.listdir(pp_path + i) if any(map(str.isdigit, file))]
    print(f' \n i == {i} \n')
    container = {}
    conts[i] = container
    for m in path:
        print(f'm == {m}')
        read = pd.read_csv(pp_path + i + '/' + m, delimiter = '\t', header = None)
        container[m.split('_')[-1].split('.')[0]] = read

 i == Eora26_2009_pp

m == Eora26_2009_pp_FD.txt
m == Eora26_2009_pp_Q.txt
m == Eora26_2009_pp_QY.txt
m == Eora26_2009_pp_T.txt
m == Eora26_2009_pp_VA.txt

 i == Eora26_2010_pp

m == Eora26_2010_pp_FD.txt
m == Eora26_2010_pp_Q.txt
m == Eora26_2010_pp_QY.txt
m == Eora26_2010_pp_T.txt
m == Eora26_2010_pp_VA.txt

 i == Eora26_2011_pp

m == Eora26_2011_pp_FD.txt
m == Eora26_2011_pp_Q.txt
m == Eora26_2011_pp_QY.txt
m == Eora26_2011_pp_T.txt
m == Eora26_2011_pp_VA.txt

 i == Eora26_2012_pp

m == Eora26_2012_pp_FD.txt
m == Eora26_2012_pp_Q.txt
m == Eora26_2012_pp_QY.txt
m == Eora26_2012_pp_T.txt
m == Eora26_2012_pp_VA.txt

 i == Eora26_2013_pp

m == Eora26_2013_pp_FD.txt
m == Eora26_2013_pp_Q.txt
m == Eora26_2013_pp_QY.txt
m == Eora26_2013_pp_T.txt
m == Eora26_2013_pp_VA.txt

 i == Eora26_2014_pp

m == Eora26_2014_pp_FD.txt
m == Eora26_2014_pp_Q.txt
m == Eora26_2014_pp_QY.txt
m == Eora26_2014_pp_T.txt
m == Eora26_2014_pp_VA.txt

 i == Eora26_2015_pp

m == Eora26_2015_pp_FD.txt
m == Eora26_2015_pp_Q.txt
m == Eora26_2015_pp_QY.txt
m == Eora26_2015_pp_T.txt
m == Eora26_2015_pp_VA.txt

In [14]:
PP = {}
print('PP values')
# set the computation code 
for i in conts.keys():
    print('---')
    print(i)
    print('---')
    for m in conts.get(i):
        """ interate over the dic and return the xout for each of the years"""
        np.seterr(divide='ignore', invalid='ignore')
        xout = np.empty((4915,1))
        np.add(np.add.reduce(np.array(conts.get(i).get('T')), axis =1)[:, np.newaxis], np.add.reduce(np.array(conts.get(i).get('FD')), axis =1)[:, np.newaxis], out = xout)
        PP[i.split('_')[1]] = xout

PP values
---
Eora26_2009_pp
---
---
Eora26_2010_pp
---
---
Eora26_2011_pp
---
---
Eora26_2012_pp
---
---
Eora26_2013_pp
---
---
Eora26_2014_pp
---
---
Eora26_2015_pp
---

In [36]:
# compte the fraction PP/BP
years = np.arange(2009, 2016).astype('str')
frac = {}
for year in years: 
    frac[year] = PP.get(year) / BP.get(year)

In [43]:
## check the Q-values index
Q = pd.read_csv('../Data/Eora/Eora_BP/Eora26_2009_bp/Eora26_2009_bp_Q.txt', delimiter = '\t', header = None)
I = pd.read_csv('../Data/Eora/Eora_BP/Eora26_2009_bp/labels_Q.txt', delimiter = '\t', header = None)
lo = pd.concat([I, Q], axis = 1)
lo.iloc[2501,]

0       WFN: Total water footprint (Mm3/yr) - Grey
1                                            Total
2                                              NaN
0                                            335.7
1                                          0.25441
                           ...
4910                                        22.022
4911                                           0.0
4912                                           0.0
4913                                           0.0
4914                                             0
Name: 2501, Length: 4918, dtype: object

In [ ]:
Blue = {}
print('Blue water footprint')
# set the computation code 
for i in containers.keys():
    # print('---')
    # print(i)
    # print('---')
    for m in containers.get(i):
        """ interate over the dic and return the TIV for each of the years"""
        np.seterr(divide='ignore', invalid='ignore')
        xout = np.empty((4915,1))
        np.add(np.add.reduce(np.array(containers.get(i).get('T')), axis =1)[:, np.newaxis], np.add.reduce(np.array(containers.get(i).get('FD')), axis =1)[:, np.newaxis], out = xout)
        # compute direct intensity vector (f) 
        f = np.zeros_like(xout)
        np.divide(np.array(containers.get(i).get('Q'))[2500,:][:, np.newaxis], xout, out=f, where= xout != 0)
        # comput technical coefficient matrix 
        A = np.empty((4915, 4915))
        np.divide(containers.get(i).get('T'), xout, out = A)
        A = np.array(pd.DataFrame(A).fillna(0))
        # creating identity matrix 
        I = np.eye(4915)
        # compute the Wassily Leontief inverse 
        L = np.linalg.inv((I - A)) 
        # compute the Total intesnity verctor 
        F = L.dot(f)
        Blue[i.split('_')[1]] = F

In [ ]:
Grey = {}
# set the computation code 
print('Grey water footprint')
for i in containers.keys():
    print('---')
    print(i)
    print('---')
    for m in containers.get(i):
        """ interate over the dic and return the TIV for each of the years"""
        np.seterr(divide='ignore', invalid='ignore')
        xout = np.empty((4915,1))
        np.add(np.add.reduce(np.array(containers.get(i).get('T')), axis =1)[:, np.newaxis], np.add.reduce(np.array(containers.get(i).get('FD')), axis =1)[:, np.newaxis], out = xout)
        # compute direct intensity vector (f) 
        f = np.zeros_like(xout)
        np.divide(np.array(containers.get(i).get('Q'))[2501,:][:, np.newaxis], xout, out=f, where= xout != 0)
        # comput technical coefficient matrix 
        A = np.empty((4915, 4915))
        np.divide(containers.get(i).get('T'), xout, out = A)
        A = np.array(pd.DataFrame(A).fillna(0))
        # creating identity matrix 
        I = np.eye(4915)
        # compute the Wassily Leontief inverse 
        L = np.linalg.inv((I - A)) 
        # compute the Total intesnity verctor 
        F = L.dot(f)
        Grey[i.split('_')[1]] = F

In [44]:
## import the index of countries & sectors 
index = pd.read_csv('../Data/Eora/Eora_BP/Eora26_2009_bp/labels_T.txt', delimiter = '\t', header = None).iloc[:,:-1]
index.columns = ['country', 'iso3', 'industries', 'sector']
index.head(3)

       country iso3  industries                sector
0  Afghanistan  AFG  Industries           Agriculture
1  Afghanistan  AFG  Industries               Fishing
2  Afghanistan  AFG  Industries  Mining and Quarrying

In [59]:
## add metadata to the frac dic 
for i in frac.keys():
    frac[i] = pd.concat([index, pd.DataFrame(frac.get(i))], axis = 1)

### Convert PP to BP

In [125]:
frac.get('2011').head(3)

,country,iso3,industries,sector,country,iso3,industries,sector,0
0,Afghanistan,AFG,Industries,Agriculture,Afghanistan,AFG,Industries,Agriculture,1.305482
1,Afghanistan,AFG,Industries,Fishing,Afghanistan,AFG,Industries,Fishing,1.503965
2,Afghanistan,AFG,Industries,Mining and Quarrying,Afghanistan,AFG,Industries,Mining and Quarrying,1.440132

In [136]:
y.head(3)

     0
0  0.0
1  0.0
2  0.0

In [148]:
np.array(frac.get('2011').query('iso3 == "DZA"').iloc[:,-1])

array([ 1.1696327 ,  1.31971919,  1.08253494,  1.52976089,  2.1576586 ,
        1.25358181,  2.01854772,  1.19939788,  1.41064319,  1.31564692,
        1.68827484,  1.86913163,  1.00613425,  1.00651149,  1.50874336,
        0.70060246,  0.18118353, -0.33078768, -0.92557451,  1.02894791,
        1.04288751,  1.00217444,  1.02241939,  1.11615784,  1.01789016,
        6.57182659])

           0
52  1.169633
53  1.319719
54  1.082535
55  1.529761
56  2.157659
57  1.253582
58  2.018548
59  1.199398
60  1.410643
61  1.315647
62  1.688275
63  1.869132
64  1.006134
65  1.006511
66  1.508743
67  0.700602
68  0.181184
69 -0.330788
70 -0.925575
71  1.028948
72  1.042888
73  1.002174
74  1.022419
75  1.116158
76  1.017890
77  6.571827

In [187]:
np.array(y.query('iso == "DZA"').iloc[:, 4:].T) / np.array(frac.get('2011').query('iso3 == "DZA"').iloc[:,-1]np.array(frac.get('2011').query('iso3 == "DZA"').iloc[:,-1])[:, np.newaxis])

SyntaxError: invalid syntax (Temp/ipykernel_2212/2528676130.py, line 1)

In [194]:
y_adjusted = {}
# downscale from PP to BP 
for name in y['iso']:
    year = y[y['iso'] == name]['Year'].unique().item()
    f = np.array(frac.get(str(year)).query(f'iso3 == "{iso}"').iloc[:,-1])[:, np.newaxis]
    yy = np.array(y[y['iso'] == f"{name}"].iloc[:,4:].T)
    corrected = yy / f
    y_adjusted[name] = corrected

## ma

In [54]:
## add the countries and the sectors names 
for i in Blue.keys():
    Blue[i] = pd.concat([index, pd.DataFrame(Blue.get(i))], axis = 1)
    
for i in Grey.keys():
    Grey[i] = pd.concat([index, pd.DataFrame(Grey.get(i))], axis = 1)

NameError: name 'Blue' is not defined

In [ ]:
# get the TIV for each country & year 
info = pd.read_csv('../infos.csv')
info.head(3)

In [ ]:
## get the data for each year & country 
Bleu_F = {}
for i in info['Eora_country'].unique():
    Year = info[info['Eora_country'] == i].Year.item()
    Bleu_F[i] = Blue.get(f"{Year}").query(f'iso3 == "{i}"')[['iso3', 'sector', 0]]
    
Grey_F = {}
for i in info['Eora_country'].unique():
    Year = info[info['Eora_country'] == i].Year.item()
    Grey_F[i] = Grey.get(f"{Year}").query(f'iso3 == "{i}"')[['iso3', 'sector', 0]]

In [ ]:
## get the footprints 

Bleu_foot = {}

for name in Bleu_F.keys(): 
    city = np.array(y[y['Country iso3'] == f'{name}'].iloc[:,2:].T)
    TIF = np.array(Bleu_F.get(f'{name}')[[0]])
    com = pd.DataFrame(city * TIF)
    com.columns = y[y['Country iso3'] == f'{name}'].iloc[:,2:].T.columns   
    Bleu_foot[name] = com
    
Grey_foot = {}

for name in Grey_F.keys(): 
    city = np.array(y[y['Country iso3'] == f'{name}'].iloc[:,2:].T)
    TIF = np.array(Grey_F.get(f'{name}')[[0]])
    com = pd.DataFrame(city * TIF)
    com.columns = y[y['Country iso3'] == f'{name}'].iloc[:,2:].T.columns   
    Grey_foot[name] = com

In [ ]:
o

In [ ]:
sns.set_style('whitegrid')
b = Bleu_foot.get('CHN').sum().to_frame()
b.columns = ['Bleu virtual water']
g = Grey_foot.get('CHN').sum().to_frame()
g.columns = ['Grey virtual water']
o = pd.concat([b,g], axis = 1)
o = o * 1000
# o = o.melt()
o.plot(kind = 'barh', figsize= (8, 7), ylabel = '', xlabel = '', color = ['b', 'grey'])
plt.title("Chinese cities' Bleu-Grey virtual water (liter per cap/yr)", loc = 'left');

In [ ]:
## take the dfs 
Bleu = pd.concat([Bleu_foot.get(i) for i in Bleu_foot.keys()], axis =1)
Grey = pd.concat([Grey_foot.get(i) for i in Grey_foot.keys()], axis =1)

In [ ]:
Bleu = pd.concat([sectors, Bleu * 1000], axis =1)
Grey = pd.concat([sectors, Grey * 1000], axis =1)

In [ ]:
Bleu = Bleu.melt(id_vars = ['Sector', 'Industry_category'], var_name = 'City')
Bleu['Type'] = 'Bleu water'
Grey = Grey.melt(id_vars = ['Sector', 'Industry_category'], var_name = 'City')
Grey['Type'] = 'Grey water'

In [ ]:
tot = pd.concat([Bleu, Grey], axis = 0)

## EDA

In [ ]:
tot.head(3)

In [ ]:
tot.groupby(['City', 'Type']).sum().reset_index()

In [ ]:
(ggplot(tot) + geom_violin(aes(x = 'Sector', y = 'value')) + facet_wrap('~Type'))

In [ ]:
(ggplot(tot.groupby(['Type', 'Sector'])['value'].mean().to_frame().reset_index(), aes('Type', 'value', fill = 'Sector'))
    + theme_bw(base_size = 9)
    + geom_bar(stat = 'identity', position = 'fill')
    + coord_flip()
    + scale_fill_brewer(type = 'qual', palette = 7)
)

In [ ]:
tot

In [ ]:
(ggplot(tot, aes('Type', 'value', fill = 'Sector'))
    + theme_bw(base_size = 9)
    + geom_bar(stat = 'identity', position = 'fill')
    + coord_flip()
)

In [ ]:
(ggplot(tot.groupby(['Sector', 'Type', 'Industry_category'])['value'].mean().to_frame().reset_index(), aes('Industry_category', 'value', fill = 'Sector'))
    + theme_bw(base_size = 9)
    + geom_bar(stat = 'identity', position = 'fill')
    + coord_flip()
    + facet_wrap('~Type')
    + scale_fill_brewer(type = 'qual', palette = 5)
)